body {
    font-family: Arial, sans-serif;
    background-color: rgb(2, 2, 47);
    color: #FBF8FF;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.startScreen {
    background-color: rgb(15, 15, 70);
    padding: 50px;
    text-align: center;
    border-radius: 15px;
}

.startScreen h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.startScreen p {
    font-size: 18px;
    margin-bottom: 30px;
}

#logo {
    width: 55vh;
    background-color: #FBF8FF;
}

#enbutton, #arbutton {
    background-color: rgb(241, 231, 85);
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#enbutton:hover, #arbutton:hover {
    background-color: #681C5B;
    color: #FBF8FF;
}

.quizScreen {
    background-color: rgb(15, 15, 70);
    width: 500px;
    padding: 50px;
    text-align: center;
    display: none;
}

#questionNumber {
    font-size: 18px;
}

#question {
    font-size: 25px;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#answers button{
    background-color: rgb(241, 231, 85);
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}

#answers button.correct {
    background-color: #007E62;
    color: #FBF8FF;
}

#answers button.wrong {
    background-color: #762723;
    color: #FBF8FF;
}

#nextButton, #playAgain {
    background-color: #681C5B;
    border: none;
    border-radius: 8px;
    color: #FBF8FF;
    padding: 12px 30px;
    margin-top: 25px;
    cursor: pointer;
}

#submit {
    background-color: #681C5B;
    border: none;
    border-radius: 12px;
    color: #FBF8FF;
    padding: 10px 10px;
}

.leaderBoard {
    background-color: rgb(15, 15, 70);
    padding: 50px;
    width: 500px;
    text-align: center;
    display: none;
}

.leaderBoard h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

#rankingHeader, .rankingRow {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

#rankingHeader {
    background-color: #681C5B;
    border-radius: 8px 8px 0 0;
    color: #FBF8FF;
}

.rankingRow.myRanking {
    background-color: rgb(241, 231, 85);
    color: black;
    font-style: italic;
}

.rankingRow {
    background-color: rgb(15, 15, 70);
    border-bottom: 1px solid rgba(251, 248, 255, 0.15);
}

#rankingHeader p, .rankingRow p {
    margin: 0px;
    padding: 15px 10px;
}

#playerName {
    height: 35px;
    text-align: center;
    margin-bottom: 20px;
}